<!doctype html>
<html lang="en">
  <head>
    <title>Web Gallery</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
  </head>
  <body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId" style="background-color: #DCDCDC;">
        <li class="nav-item">
            <a href="#tab1Id" class="nav-link active">Web Gallery</a>
        </li>
        <li class="nav-item">
            <a href="#tab2Id" class="nav-link">Another link</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel">
            <div class="container">
                <div class="jumbotron" id="app1">
                    <h3 class="display-3" style="text-align: center;">{{title}}</h3>
                    <p class="lead" style="text-align: right;">{{description}}</p>
                </div>
                <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example" align="center">
                    <button type="button" class="btn btn-info" v-on:click="filter('all')">All</button>
                    <button type="button" class="btn btn-info" v-on:click="filter('nature')">Nature</button>
                    <button type="button" class="btn btn-info" v-on:click="filter('humans')">Humans</button>
                </div>
                <br/>
                <div id="app">
                    <div class="container">
                        <div class="row" v-for="i in Math.ceil(data_.length / 3)">
                            <div class="col thumbnail" v-for="item in data_.slice((i - 1) * 3, i * 3)">
                                <img :src="item.download_url" class="rounded col-sm" alt="test1">
                                <p class="lead" style="text-align: center;">{{item.author}}</p>
                                <!-- <div :style="text-align:center;">{{item.author}}<br/></span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    </div>
    
    <!-- <script>
        $('#navId a').click(e => {
            e.preventDefault();
            $(this).tab('show');
        });
    </script> -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>